spec:
  replicas: 1
  selector:
    matchLabels:
      name: sriov-network-operator
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        openshift.io/required-scc: restricted-v2
        target.workload.openshift.io/management: '{"effect": "PreferredDuringScheduling"}'
      labels:
        name: sriov-network-operator
    spec:
      containers:
        - command:
            - sriov-network-operator
          env:
            - name: WATCH_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.annotations['olm.targetNamespaces']
            - name: OPERATOR_NAME
              value: sriov-network-operator
            - name: RESOURCE_PREFIX
              value: openshift.io
            - name: ADMISSION_CONTROLLERS_ENABLED
              value: 'false'
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_OPERATOR_SECRET_NAME
              value: operator-webhook-service
            - name: ADMISSION_CONTROLLERS_CERTIFICATES_INJECTOR_SECRET_NAME
              value: network-resources-injector-secret
            - name: METRICS_EXPORTER_SECRET_NAME
              value: metrics-exporter-cert
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_ENABLED
              value: 'false'
            - name: METRICS_EXPORTER_PROMETHEUS_DEPLOY_RULES
              value: 'true'
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_NAMESPACE
              value: openshift-monitoring
            - name: METRICS_EXPORTER_PROMETHEUS_OPERATOR_SERVICE_ACCOUNT
              value: prometheus-k8s
            - name: METRICS_EXPORTER_PORT
              value: '9110'
            - name: NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: RELEASE_VERSION
              value: 4.20.0
            - name: SRIOV_CNI_BIN_PATH
              value: /run/cni/bin
            - name: CLUSTER_TYPE
              value: kubernetes
          image: quay.io/openshift/sriov-network-operator:latest
          imagePullPolicy: IfNotPresent
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8081
            initialDelaySeconds: 15
            periodSeconds: 20
          name: sriov-network-operator
          readinessProbe:
            httpGet:
              path: /readyz
              port: 8081
            initialDelaySeconds: 5
            periodSeconds: 10
          resources: {}
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      nodeSelector:
        node-role.kubernetes.io/master: ''
      serviceAccountName: sriov-network-operator
      tolerations:
        - effect: NoSchedule
          key: node-role.kubernetes.io/master
          operator: Exists
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sriov-network-operator
  namespace: sriov-network-operator
